.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #edefee;
  padding: 1rem;
}

@media (min-width: 600px) {
  .container > div {
    flex-direction: row;
    justify-content: space-between;
  }
}
