.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem 0;
}

.img {
  display: flex;
  justify-content: center;
}

.img > img {
  max-width: 100%;
  width: 20rem;
  border-radius: 0.5rem;
}

.title {
  font-family: "Markazi Text", serif;
  font-size: 4rem;
  color: #f4ce14;
  margin-bottom: 0;
}

.subtitle {
  font-family: "Markazi Text", serif;
  font-size: 2rem;
  color: #333;
  margin-top: 0;
}

.paragraph {
  font-family: "Markazi Text", serif;
  font-size: 1.25rem;
  font-weight: medium;
  color: #333;
  line-height: 1.5rem;
  padding-right: 4rem;
}

.button {
  display: flex;
  align-items: flex-start;
}
.button a {
  text-decoration: none;
}
