.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: #333;
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border:none;
}

.container:hover {
  background-color: #495e57;
  color: #fff;
}
